* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* scroll */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #17b3e0;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #118fb3;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.col-a {
    margin-top: 100px;
    margin: 50px;
    color: #17b3e0;
}

.col-a p {
    color: #555;
    font-size: 10px;
}

.fitur {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.fitur p {
    color: #17b3e0;
    font-size: 14px;
    padding: 10px;
}

.cal {
    margin-top: 10px;
    display: grid;
    row-gap: 10px;
}

.cal input {
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
}


/* guest */

.guest {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}



.guest1 input {
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 70%;
    border: 1px solid gray;
}

.guest2 select {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
}

.col-a button {
    width: 100%;
    background: #17b3e0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    outline: none;
    border: 0;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;

}

.col-a button:hover {
    color: #17b3e0;
    background: white;
    border: 1px solid #17b3e0;
}

.sidenav a:hover {
    color: #17b3e0;
}

.sidenav .closebtn {
    position: absolute;
    margin-top: 100px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* load */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 300000;
    top: 0;
    left: 0;
    background-color: #17b3e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    text-align: center;
    display: inline-block;
    width: 39%;
    min-height: 200px;
    position: relative;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    animation: loader-inner 6s alternate;
}

@keyframes loader {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 100%;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Urbanist', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 88888;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.322);

}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px;
    align-items: center;

}

.head img {
    width: 30%;
}

.headnav a {
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.headnav a:hover {
    color: #17b3e0;
    font-weight: 600;
}

.chat {
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    margin: 20px;
}

.chat a {
    color: #17b3e0;
}

.chat a:hover {
    color: #118fb3;
}

/* home bg  */

.bg1 {
    width: 100%;
    position: absolute;
    z-index: -1;

}

.bg1 img {
    width: 100%;
}



@media only screen and (max-width: 600px) {
    .bg1 {
        position: absolute;
    }

    .home {
        color: #17b3e0;
        margin-bottom: calc(50px - 50vh);
        width: 100%;
    }

    .home-col p {}

    .home-col {
        width: 100% auto;
        margin-top: -150px;
        background: #17b3e0;
    }

    .home-col img {
        width: 1200px;

    }

    .gallery {
        margin-top: -50px;
    }
}

/* gallery */
.gallery {
    margin-top: 30px;
    width: 100%;
    background: #17b3e0;
    text-align: center;
    color: white;
}

/* home */


.home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    z-index: 999;
    text-align: center;
    align-items: center;

}

.home-col {
    width: 100%;
    color: white;
    padding: 30px;
}

.home-col img {
    width: 10%;
    color: white;
}


/* room  */

/* Container */

/* Container */

.wrapper {
    width: 100%;
    padding: 30px;
    text-align: center;
    color: #118fb3;
}

.carousel {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
}

.wrapper .slick-dots li button:before {
    font-size: 10px;

    color: #118fb3;
}


/* book */
.img-slider {
    position: relative;
    width: 100%;
    height: 850px;
}

.slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.slide.active {
    clip-path: circle(150% at 0 49%);
    transition: 2s;
    transition-property: clip-path;
}

.slide img {
    width: 100%;
    z-index: 1;
}

.info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 60px;
    text-align: left;
    display: grid;
    gap: 30px;
}

.info h1 {
    color: #17b3e0;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.info p {
    color: #17b3e0;
    font-size: 16px;
    width: 60%;
}

.info button {
    padding: 10px 30px;
    background: #17b3e0;
    color: white;
    border-radius: 20px;
    width: 200px;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 600;
}



.navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50px);
}

.navigation .btnx {
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #17b3e0;
}

.btnx.active {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}




@media only screen and (max-width: 600px) {
    .img-slider {
        width: 100%;
        height: 220px;
    }

    .info {
        padding: 10px;
        margin: 0;
        width: 100%;
        gap: 5px;
        top: 0;
    }

    .info h1 {
        font-size: 20px;
    }

    .info p {
        width: 50%;
    }

    .navigation {
        bottom: 25px;
    }

    .info button {
        padding: 1px 1px;
        background: #17b3e0;
        color: white;
        border-radius: 20px;
        width: 20%;
        height: 30px;
        outline: none;
        border: 2px solid white;
        cursor: pointer;
        font-weight: 600;
    }


}

/* nearby */

.location {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(211, 211, 211);
}

.nearby {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.loc {
    width: 50%;
}

.loc h1 {
    font-weight: 900;
    padding: 20px;
    color: #17b3e0;
}

@media only screen and (max-width: 600px) {
    .location {
        width: 100%;
    }

    .nearby {
        flex-direction: column;
    }

    .map iframe {
        width: 100%;
    }

    .loc {
        text-align: center;
        width: 100%;
    }
}


.item {
    padding: 10px 20px;
    color: rgb(122, 122, 122);
}

.item h4 {
    margin-bottom: 10px;
}


/* shop */

.shoptittle {
    text-align: center;
    margin-top: 50px;
    color: #17b3e0;
}

.shop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.shop-col button {
    padding: 10px 20px;
    background: #17b3e0;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    transition: .2s;
}

.shop-col button:hover {
    background: white;
    color: #17b3e0;

}

.barang {
    width: 20%;
    color: #17b3e0;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
}

.barang:hover {
    background-color: rgb(211, 211, 211);
}

.barang img {
    width: 100%;
}

.shop-col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shop-col1 p {
    color: black;
}

.rate {
    text-align: left;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

@media only screen and (max-width: 600px) {
    .shop {
        width: 100%;
    }

    .shop-col {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .barang {
        width: 80%;
    }
}

.btnshop {
    text-align: center;
    margin-top: 20px;
}

.btnshop a {
    padding: 10px 20px;
    background: #17b3e0;
    overflow: hidden;
    text-decoration: none;
    transition: .3s;
    color: white;
    border-radius: 10px;
}

.btnshop a:hover {
    background-color: rgb(207, 207, 207);
    color: #17b3e0;
}


/* resto */

.resto {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.resto-col {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
    align-items: center;
    column-gap: 40px;
}

.resto1 {
    width: 50%;
}

.resto2 {
    width: 50%;
}

.resto2 img {
    width: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .resto {
        width: 100%;
    }

    .resto-col {
        flex-direction: column;
        width: 100%;
        display: grid;
        row-gap: 20px;
        text-align: center;
    }

    .resto1 {
        width: 100%;
        display: grid;
        row-gap: 10px;
    }

    .resto2 {
        width: 100%;
    }

}



/* footer */

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    background-color: rgb(196, 196, 196);
    color: #17b3e0;
    text-align: center;
    padding: 10px;
}

.foot {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}


.foot1 {
    display: flex;
    flex-direction: column;
    width: 80px;
}

.foot1 h1 {
    font-size: 15px;
}

.foot2 h1 {
    font-size: 15px;
}

.foot2 {
    display: flex;
    flex-direction: column;
    width: 80px;
}

.footer a {
    overflow: hidden;
    text-decoration: none;
    color: #118fb3;
    transition: .2s;
}

.footer a:hover {
    color: black;
}

.cp a:hover {
    color: rgb(65, 155, 103);
}

@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        padding: 50px;
    }

    .foot {
        width: 100%;
        flex-direction: column;
        font-size: 13px;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        display: grid;
        row-gap: 30px;
    }

    .foot1 {
        width: 100%;
        display: grid;
        row-gap: 10px;
    }

    .foot2 {
        width: 100%;
        display: grid;
        row-gap: 10px
    }

}

/* halaman shop */


.judulshop {
    width: 100%;
}

.judulshop img {
    width: 100%;
}

/* about */

.about {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #aaaaaa;
}

.about-col {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
    align-items: center;
    column-gap: 40px;
    margin: 110px;
}

.about1 {
    width: 50%;
}


@media only screen and (max-width: 600px) {
    .about {
        width: 100%;
    }

    .about-col {
        flex-direction: column-reverse;
        width: 90%;
        padding: 20px;
        margin: 0;
        margin-top: 100px;

    }

    .about1 {
        width: 100%;
        text-align: center;
        display: grid;
        row-gap: 20px;
    }

    .gambarabout img {
        display: none;
    }

    .gambarabout {
        width: 100%;
    }
}

/* reserv */
.reserv {
    margin-top: 30px;
}

.reserv a {
    background: #17b3e0;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 0;
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.reserv #lm {
    background: white;
    color: #17b3e0;
    border: 1px solid #17b3e0;
}

.gambarabout {
    width: 50%;
}

.gambarabout img {
    width: 100%;

}


/* room */


.room {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #aaaaaa;
}

.room-col {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 110px;
}

.room1 {
    width: 30%;
    flex-direction: column;
    background: #888;
    padding: 20px;
    display: grid;
    row-gap: 10px;
    transition: .2s;
    color: white;
}

.room1 a {
    background: #17b3e0;
    padding: 10px 20px;
    color: white;
    overflow: hidden;
    text-decoration: none;
}

.room1 a:hover {
    background: white;
    color: #17b3e0;
}

.room1 img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .room {
        width: 100%;
    }

    .room-col {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        margin: 0;
        margin-top: 110px;
    }

    .room1 {
        width: 100%;

    }
}




/* Room */
.cover {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cover img {
    width: 100px;
}






.reservation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reservation-col {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 30px;
}

.res1 {
    width: 100%;
}

.res1 img {
    width: 100%;
    margin-right: 10px;
}

.res2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.res2 h1 {
    font-weight: 800;
    color: #17b3e0;
}


.res3 form input {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #17b4e081;
    outline: none;
    border-radius: 20px;
}

.res3 {
    flex-direction: column;
    display: flex;
    width: 80%;
    margin-top: 30px;
}

.res3 h1 {
    width: 300px;
}

.res3 button {
    background-color: #17b3e0;
    width: 100%;
    padding: 10px 30px;
    outline: none;
    color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    transition: .2s;
}

.res3 button:hover {
    background: #118fb3;
}

.lainny {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.lainny a {
    overflow: hidden;
    text-decoration: none;
    color: #17b3e0;
}

.add2 {
    width: 40%;
    font-size: 12px;
    color: #555;
}

.add a:hover {
    color: #118fb3;
    font-weight: 900;
}


@media only screen and (max-width: 600px) {
    .res1 img {
        display: none;
    }

    .add2 {
        width: 100%;
    }
}



/* payment */

.payment {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px;
}

.payment1 {
    display: flex;
    width: 90%;
    justify-content: space-between;
}




/* toggle */
.switch-toggle {
    display: flex;
    width: auto;
    display: table;
    margin-bottom: 20px;
}

.switch-toggle label {
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    margin-top: 20px;
}

.switch-toggle label span {
    position: absolute;
    background-color: #c1c1c1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50px;
}

.switch-toggle label input {
    visibility: hidden;
}

.switch-toggle label span:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 100%;
    top: 4px;
    left: 7px;
    transition: 0.5s;
}

.switch-toggle label input:checked+span:after {
    transform: translateX(25px);
}

.switch-toggle label input:checked+span {
    background: linear-gradient(to right, #17b3e0, #118fb3);
}




.collapse-content {
    width: 100%;
}

.collapse {
    background: #fff;
    margin-bottom: 10px;
}

.collapse a {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9rem 1.8rem;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.collapse a.instagram {
    background: #17b3e0;
    border-radius: 30px;
}

.collapse a.twitter {
    background: #17b3e0;
    border-radius: 30px;
}

.collapse a.dribbble {
    background: #17b3e0;
    border-radius: 30px;
}

.collapse a.youtube {
    background: #ff0000;
}



.inner-content {
    padding: 10px;
    flex-direction: column;
}

.ic {
    padding: 5px;
}

.ic input {
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
}

.ic1 {
    width: 100%;

}

.ic1 textarea {
    width: 100%;
    padding: 10px;
}

.content {
    max-height: 0em;
    transition: 0.3s linear 0s;
    overflow: hidden;
}


h3 {
    margin-bottom: 15px;
}

.collapse:target .content {
    max-height: 15em;
}


@media (max-width: 768px) {
    .collapse-content {
        width: 80vw;

    }
}

@media (max-width: 425px) {
    body {
        line-height: 1.3;
    }

    .collapse-content {
        width: 80vw;
    }

    .inner-content {
        padding: 1.2rem;
    }

    .inner-content h3 {
        margin-bottom: 0.3rem;
    }
}

@media (max-width: 320px) {
    body {
        line-height: 1.3;
    }

    .collapse-content {
        width: 80vw;
    }

    .inner-content {
        padding: 0.8rem;
    }

    .inner-content h3 {
        margin-bottom: 0.3rem;
    }
}


.pembayaran {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 5px;
    align-items: center;
}

.pembayaran1 button {
    background: #17b3e0;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    color: white;
    cursor: pointer;
    border: 0;
}


.pembayaran1 button:hover {
    background: white;
    color: #17b3e0;
    font-weight: 600;
}



.payment-col1 {
    width: 50%;
    display: grid;
    gap: 10px;
}

.payment-col2 {
    display: grid;
    row-gap: 10px;
}

.paymenttype h1 {
    border: 1px solid black;
    text-align: center;
    padding: 10px 30px;
    color: #17b3e0;
}

.paymenttype2 {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.paymenttype3 {
    width: 100%;
    display: grid;
    gap: 10px;
}

.desctype h1 {
    font-size: 21px;
    color: #17b3e0;
}

.desctype1 h1 {
    color: #17b3e0;
}

.typekamarhdh {
    width: 100%;
}

.typekamarhdh img {
    width: 100%;
}

.payment-col3 {
    padding: 30px;
    display: grid;
    gap: 10px;
}

.detailp p {
    margin-left: 10px;
    margin-bottom: 5px;
}

.detailp input {
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
}

.total {
    display: flex;
    justify-content: space-between;
    background: #17b3e0;
    padding: 10px 20px;
    border-radius: 50px;
}

.total1 {
    color: white;
    font-size: 12px;
}




@media only screen and (max-width: 600px) {
    .payment {
        width: 100%;
        padding: 0;

    }

    .payment1 {
        width: 100%;
        flex-direction: column;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pembayaran {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .payment-col1 {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .detailp input {
        width: 100%;
    }
}



.checkout {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-col {
    margin: 100px;
}

.checkout-item h1 {
    color: #17b3e0;
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .headnav {
        width: 100%;
    }

    .headnav a {
        font-size: 10px;
    }

    .head img {
        width: 10%;
    }
}
